<link rel="stylesheet" href="style.css" />

<div id="app">
    <div id="payloads">
        <h2>Payload examples below:</h2>
        <p v-for="(payload, index) in payloads" :key="index">
            {{ (index+1) }}. {{ payload }}
        </p>
    </div>

    <div id="payload-input">
        <h2>Enter payload below:</h2>
        <input type="text" v-model="payload" placeholder="payload">
        <button v-on:click="addPayload">Submit Payload</button>
    </div>

    <h2>Result:</h2>
    <div id="payload-result">
        <span>{{ result }}</span>
        <span v-html="result"></span>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.7.10"></script>
<script src="script.js"></script>